# Neon Serverless Postgres connection string
# https://neon.tech  ->  project  ->  Connection string
DATABASE_URL="postgresql://user:password@host.neon.tech/dbname?sslmode=require"

# Last.fm API key (used for catalog enrichment)
# Create one at https://www.last.fm/api/account/create
LASTFM_API_KEY=""

# The Last.fm username whose listening history to import / display
LASTFM_USER=""
